body {
  text-align: center;
}

::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5) !important;
  border-radius: 10px !important;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(206, 228, 9, 0.5) !important;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

.animate_fadein {
  opacity: 0;
  transform: translateY(15px);
  animation: fadeIn 1s ease 1 forwards;
}

table, th, td {
  border: 2px dashed black;
  border-collapse: collapse;
}

th {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap !important;
}

th, td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

td:hover {
  background: rgba(60, 235, 16, 0.2);
}

table {
  border-spacing: 5px;
  text-align: center;
}

.a_table1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  max-width: 90%;
  max-height: 750px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.table_input {
  font-size: 16px;
  text-align: center;
  padding: 3px;
  border: none;
  border-color: transparent;
  background: transparent;
  -webkit-transition: .3s all ease-out;
  transition: .2s all ease-out;
  border-radius: 5px;
}

input:focus {
  /* border: 1px solid rgba(131, 15, 226, 0.616); */
  color: rgb(229, 255, 0);
  text-decoration: none;
  border-radius: 5px;
}

.btn-save {
  background: rgba(15, 199, 45, 0.8);
  white-space: nowrap !important;
}

.btn-save:hover {
  background: green;
}

.btn-delete {
  background: rgba(235, 11, 11, 1);
  white-space: nowrap !important;
}

.btn-delete:hover {
  background: rgba(235, 11, 11, 0.8);
}

.loading_anim {
  vertical-align: middle;
  margin-top: -8px;
}

#admin_refresh {
  visibility: hidden;
}

.refresh_icon {
  font-size: 36px !important;
}

.a_h_1 {
  transition: 0.8s all ease;
}

.a_h_1:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.a_h_i_1 {
  font-size: 30px !important;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 5px;
}